* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
}

h1 {
    border: 10px solid blue;
    height: 100vh;
    text-align: center;
    color: blue;
    margin-top: 0;
    padding-top: 40px;
}

p {
    font-size: 24px;
}
